<link rel="stylesheet" href="/public/css/treeview.min.css" />
<link href="/public/css/jsoneditor.css" rel="stylesheet" type="text/css">
<script src="/public/js/jsoneditor.js"></script>
<!-- <script src="/public/js/treeview.min.js" type="text/javascript"></script> -->

aaeeeeeeeeyedit

<div id="tree_container">a</div>
<div id="tree_container_2">a</div>
<button id="expandAll">Expand All</button>
<button id="collapseAll">Collapse All</button>


<div id="jsoneditor" style="width: 800px; height: 600px;"></div>
<button id="saveFile">Save File</button>

<script src="/public/js/treeview.js" type="text/javascript"></script>

<script src="/public/js/edit_server.js"></script>
<script src="/public/js/editor.js"></script>
