<head>
  <meta charset=”UTF-8">
  <meta http-equiv=”X-UA-Compatible” content=”IE=edge”>
  <meta name=”viewport” content=”width=device-width, initial-scale=1">

  <title><%= e.title %> | Panel</title>

  <link rel=”stylesheet” href=”https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <link rel="stylesheet" href="/public/css/lib.css">

  <link href="https://fonts.googleapis.com/css?family=Markazi+Text:400,500,600,700|Source+Sans+Pro:400,400i,600,600i,700,700i,900,900i|Roboto:500,500i,700,700i,900|" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

</head>

<body>
<div class="grid-container">
	<div class="sidebar">
		<div class="line top"></div>
		<div class="line bottom"></div>
	</div>
	<header>
		<div class="title">Panel.</div>
			<i class="material-icons" id="MENU">menu</i>
		<div class="menu">
		</div>
			<i class="material-icons" id="SEARCH">search</i>
		<div class="search">
			<input id="SEARCH_BOX" type="text" placeholder="Search">
		</div>

	</header>

	<div class="else">
		<!-- page template type loaded here -->
		<!-- TODO: find a way to pass entire object into included page -->
		<%- include(dirname + "/views/" + e.template + ".ejs", {e, dirname}) %>

	</div>

</div>

<div class="menu-grid">
	<!-- four (five?) evenly spaced rounded rectangles along the bottom edge of the pulldown. colored differently with cutout white text. possible tinted image backgrounds -->
	<div class="parent" id="c0">
		<div class="rectangle">abc</div>
	</div>
	<div class="parent" id="c1">
		<div class="rectangle">abc</div>
	</div>
	<div class="parent" id="c2">
		<div class="rectangle">abc</div>
	</div>
	<div class="parent" id="c3">
		<div class="rectangle">abc</div>
	</div>
	<div class="parent" id="c4">
		<div class="rectangle">abc</div>
	</div>
</div>
<div class="search-grid">
	<div class="results"></div>
</div>

<div id="SHADE"></div>

<script type="text/javascript" src="/public/js/color-thief.min.js"></script>
<script type="text/javascript" src="/public/js/shadow.js"></script>
<script type="text/javascript" src="/public/js/ui.js"></script>
<script type="text/javascript" src="/public/js/server.js"></script>
<script type="text/javascript" src="/public/js/main.js"></script>

</body>







