<head>
	<meta charset=”UTF-8">
	<meta http-equiv=”X-UA-Compatible” content=”IE=edge”>
	<meta name=”viewport” content=”width=device-width, initial-scale=1">

	<title><%= e.title %> | Panel</title>
	<link rel=”stylesheet” href=”https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<link rel="stylesheet" href="/public/css/lib.css">

	<link href="https://fonts.googleapis.com/css?family=Markazi+Text:400,500,600,700|Source+Sans+Pro:400,400i,600,600i,700,700i,900,900i|Roboto:500,500i,700,700i,900|Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

	<!-- PWA Stuff -->
	<link rel="manifest" href="/public/js/manifest.json">
	<meta name="theme-color" content="#317EFB"/>
	  <meta name="viewport" content="width=device-width, initial-scale=1">


	<!-- SEO Stuff -->
	<meta name="description" content="Panel is an online magazine..."/>
	<meta name="copyright"content="Panel Co 2018"
	<meta name="designer" content="Matthew Hall <matthew349hall@hotmail.com>">


</head>

<body>

	<div class="menu-grid">
	<!-- four (five?) evenly spaced rounded rectangles along the bottom edge of the pulldown. colored differently with cutout white text. possible tinted image backgrounds -->
	<div class="parent">
		<div class="rectangle" id="s0">
			<div class="image-screen"></div>
				<div class="menu-screen">politics</div>
		</div>
		<div class="rectangle" id="s1">
			<div class="image-screen"></div>
				<div class="menu-screen">science</div>
		</div>
		<div class="rectangle" id="s2">
			<div class="image-screen"></div>
				<div class="menu-screen">design</div>
		</div>
		<div class="rectangle" id="s3">
			<div class="image-screen"></div>
				<div class="menu-screen">writing</div>
		</div>
		<div class="rectangle" id="s4">
			<a href="/about" class="default">About</a>
			<a href="/team" class="default">Team</a>
			<a href="/credits" class="default">Credits</a>
			<a href="/contact" class="default">Contact</a>
		</div>
	</div>
</div>
<div class="search-grid">
	<div class="results"></div>
</div>

<div id="SHADE"></div>
<div class="grid-container">
	<div class="sidebar">
		<div class="line top"></div>
		<div class="line bottom"></div>
	</div>
	<header>
		<div class="title">
			<a href="/" class="logo">Panel.</a>
		</div>
			<i class="material-icons" id="MENU">menu</i>
		<div class="menu">
		</div>
			<i class="material-icons" id="SEARCH">search</i>
		<div class="search">
			<input id="SEARCH_BOX" type="text" placeholder="Search">
		</div>

	</header>
	<div class="else">
		<!-- page template type loaded here -->
		<!-- TODO: find a way to pass entire object into included page -->
		<%- include(dirname + "/views/" + e.template + ".ejs", {e, dirname}) %>

	</div>
<!-- scripts gotta be here because reasons -->
<script type="text/javascript" src="/public/js/server.js"></script>
<script type="text/javascript" src="/public/js/color-thief.min.js"></script>
<script type="text/javascript" src="/public/js/shadow.js"></script>
<script type="text/javascript" src="/public/js/ui.js"></script>
<script type="text/javascript" src="/public/js/main.js"></script>

</div>





</body>







