.material-icons {
  cursor: pointer;
  transition: all ease 200ms;
  transform-origin: center;
  display: inline-block; }

.material-icons:hover {
  opacity: 0.6;
  transform: scale(1.05); }

.material-icons:active {
  opacity: 1;
  transform: scale(0.95); }

input::placeholder {
  opacity: 0.6;
  font-size: 2.8vh;
  color: black;
  line-height: 4vh;
  font-family: 'Markazi Text', serif;
  background: transparent; }

input:focus::placeholder {
  opacity: 0.9; }

h1 {
  font-size: 6vh;
  margin: 0;
  margin-bottom: 1.5vh;
  line-height: 7vh;
  color: #7c7c7c;
  font-family: 'Markazi Text', serif; }

h1.accent {
  color: black;
  margin-bottom: 0.3vh; }

h1.fade {
  color: gray; }

h2 {
  font-size: 5vh;
  font-weight: 500; }

h3 {
  font-size: 2.3vh;
  margin: 0;
  color: black;
  font-weight: 400; }

h3.accent {
  color: green; }

h3.fade {
  color: gray; }

a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  transition: all ease 200ms;
  transform-origin: center;
  display: inline-block; }

a:hover {
  opacity: 0.6; }

a:active {
  opacity: 1; }

a.article-url {
  font-size: 6vh;
  margin: 0;
  margin-bottom: 1.5vh;
  line-height: 7vh;
  transition: all ease 150ms;
  color: black;
  font-family: 'Markazi Text', serif;
  text-decoration: none; }

a.article-url:hover {
  transform: none;
  opacity: 0.5s; }

a.article-url:active {
  transform: none;
  opacity: 1; }

a.default {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  transition: all ease 200ms;
  transform-origin: center;
  display: inline-block;
  text-decoration: none; }

a.default:hover {
  text-decoration: underline;
  opacity: 1;
  transform: none; }

a.default:active {
  transform: none;
  opacity: 0.6; }

a.title {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  transition: all ease 200ms;
  transform-origin: center;
  display: inline-block;
  text-decoration: none; }

a.title:hover {
  text-decoration: underline;
  opacity: 1;
  transform: none; }

a.title:active {
  transform: none;
  opacity: 0.6; }

a.logo {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  transition: all ease 200ms;
  transform-origin: center;
  display: inline-block;
  text-decoration: none; }

a.logo:hover {
  opacity: 1;
  transform: none; }

a.logo:active {
  transform: none;
  opacity: 0.6; }

.else {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 8.6vw; }
  .else h1 {
    color: black; }

#progress {
  position: fixed;
  top: 0;
  left: 0;
  height: 2px;
  border: none;
  width: 3px;
  background: rgba(46, 46, 46, 0.81); }

div.header {
  width: 100%;
  display: flex;
  height: auto;
  margin-bottom: 4vh;
  margin-top: 7vh;
  align-items: flex-end; }
  div.header .published-date {
    width: auto;
    height: 100%;
    margin: 0;
    line-height: 5.5vh;
    text-align: right;
    font-size: 2.4vh;
    padding-left: 1vw; }
  div.header .article-title {
    flex: 1;
    height: 100%;
    margin: 0;
    line-height: 7.5vh;
    font-size: 7.5vh;
    font-weight: 600; }

.article-details {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 2.5vh; }
  .article-details .author {
    flex: 1;
    display: flex; }
  .article-details .read-time {
    width: auto;
    height: 5vh;
    line-height: 5vh;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-bottom: 0;
    font-size: 2.3vh; }

article.middle {
  width: 45vw; }
  article.middle .content {
    column-count: 1;
    width: 100%;
    line-height: 1.6;
    font-family: "Crimson Text";
    font-size: 2.75vh;
    font-weight: 100; }
    article.middle .content img {
      margin-top: 2vh;
      margin-bottom: 6vh; }
  article.middle img {
    width: 100%;
    border-radius: 3px;
    transition: box-shadow 300ms ease-out; }

.image.article {
  width: 100%;
  height: 60vh;
  margin-bottom: 4vh; }

@media screen and (orientation: portrait) {
  article.middle {
    width: 75vw; } }
