.material-icons {
  cursor: pointer;
  transition: all ease 200ms;
  transform-origin: center;
  display: inline-block; }

.material-icons:hover {
  opacity: 0.6;
  transform: scale(1.05); }

.material-icons:active {
  opacity: 1;
  transform: scale(0.95); }

input::placeholder {
  opacity: 0.6;
  font-size: 2.8vh;
  color: black;
  line-height: 4vh;
  font-family: 'Markazi Text', serif;
  background: transparent; }

input:focus::placeholder {
  opacity: 0.9; }

h1 {
  font-size: 6vh;
  margin: 0;
  margin-bottom: 1.5vh;
  line-height: 7vh;
  color: #7c7c7c;
  font-family: 'Markazi Text', serif; }

h1.accent {
  color: black;
  margin-bottom: 0.3vh; }

h1.fade {
  color: gray; }

h3 {
  font-size: 2.3vh;
  margin: 0;
  color: black;
  font-weight: 400; }

h3.accent {
  color: green; }

h3.fade {
  color: gray; }

a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  transition: all ease 200ms;
  transform-origin: center;
  display: inline-block; }

a:hover {
  opacity: 0.6;
  transform: scale(1.05); }

a:active {
  opacity: 1;
  transform: scale(0.95); }

a.article-url {
  font-size: 6vh;
  margin: 0;
  margin-bottom: 1.5vh;
  line-height: 7vh;
  transition: all ease 150ms;
  color: black;
  font-family: 'Markazi Text', serif;
  text-decoration: none; }

a.article-url:hover {
  transform: none;
  opacity: 1;
  color: #d55c04; }

a.article-url:active {
  transform: none;
  opacity: 1; }

.else {
  display: grid;
  grid-template-columns: [splash] auto [negative-space-2] 5.2vw [image] 50vw;
  grid-template-rows: [splash] auto [footer] 5vh; }

.splash {
  grid-column: splash;
  grid-row: splash;
  display: flex;
  align-items: center;
  padding-right: 20px;
  overflow: hidden; }

.splash-wrapper {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  min-width: 60%;
  transition: opacity 400ms ease, left 800ms ease;
  position: relative;
  margin: 15%;
  opacity: 0; }

.splash-wrapper.active {
  opacity: 1;
  visibility: visible; }

.splash-details {
  display: flex;
  width: 100%;
  align-items: center; }
  .splash-details .author {
    flex: 1; }
  .splash-details .read-time {
    width: auto;
    height: 5vh;
    line-height: 5vh;
    border-radius: 2.5vh;
    border: 1px solid gray;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-bottom: 0;
    font-size: 2.3vh; }

.image {
  grid-column: image;
  grid-row: 1 / 3;
  padding: 0;
  padding-right: 5vh;
  padding-left: 5vh;
  margin-top: -4vh;
  display: flex; }
  .image .inset {
    width: 100%;
    background-image: url("../../public/img/newyork.jpg");
    background-size: cover;
    box-shadow: 0;
    transition: box-shadow 300ms ease-out; }

footer {
  grid-column: splash;
  grid-row: footer;
  display: flex;
  justify-content: space-between; }
  footer .page-number {
    flex: 1;
    text-align: center;
    font-size: 2.3vh; }
