.material-icons {
  cursor: pointer;
  transition: all ease 200ms;
  transform-origin: center;
  display: inline-block; }

.material-icons:hover {
  opacity: 0.6;
  transform: scale(1.05); }

.material-icons:active {
  opacity: 1;
  transform: scale(0.95); }

input::placeholder {
  opacity: 0.6;
  font-size: 2.8vh;
  color: black;
  line-height: 4vh;
  font-family: 'Markazi Text', serif;
  background: transparent; }

input:focus::placeholder {
  opacity: 0.9; }

h1 {
  font-size: 6vh;
  margin: 0;
  margin-bottom: 1.5vh;
  line-height: 7vh;
  color: #7c7c7c;
  font-family: 'Markazi Text', serif; }

h1.accent {
  color: black;
  margin-bottom: 0.3vh; }

h1.fade {
  color: gray; }

h3 {
  font-size: 2.3vh;
  margin: 0;
  color: black;
  font-weight: 400; }

h3.accent {
  color: green; }

h3.fade {
  color: gray; }

a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  transition: all ease 200ms;
  transform-origin: center;
  display: inline-block; }

a:hover {
  opacity: 0.6;
  transform: scale(1.05); }

a:active {
  opacity: 1;
  transform: scale(0.95); }

a.article-url {
  font-size: 6vh;
  margin: 0;
  margin-bottom: 1.5vh;
  line-height: 7vh;
  transition: all ease 150ms;
  color: black;
  font-family: 'Markazi Text', serif;
  text-decoration: none; }

a.article-url:hover {
  transform: none;
  opacity: 1;
  color: #d55c04; }

a.article-url:active {
  transform: none;
  opacity: 1; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Markazi Text', serif; }

* {
  box-sizing: border-box; }

div.grid-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: [sidebar] 6vw [negative-space-1] 2.6vw [else] auto [negative-space-2] 5.2vw [image] 50vw;
  grid-template-rows: [padding] 5vh [header] 4vh [all] auto [footer] 5vh [padding] 5vh; }

#SHADE {
  z-index: 10;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease; }

.sidebar {
  grid-column: sidebar;
  grid-row: 1 / 6;
  display: grid;
  grid-template-columns: 100fr;
  grid-template-rows: [padding] 4vh [icon] 6vh [lower] auto; }
  .sidebar .line {
    width: 2px;
    background: #EEE;
    height: 100%;
    grid-column: 1;
    margin: 0 auto; }
  .sidebar .top {
    grid-row: padding; }
  .sidebar .bottom {
    grid-row: lower; }

header {
  z-index: 1000;
  grid-column: else;
  grid-row: header;
  display: flex; }
  header .title {
    font-family: 'Markazi Text', serif;
    font-weight: 700;
    font-size: 4vh;
    line-height: 4vh; }
  header .menu {
    flex: 1; }
  header #MENU {
    position: fixed;
    top: 5vh;
    left: 0;
    width: 6vw;
    height: 4vh;
    line-height: 4vh;
    text-align: center; }
  header #SEARCH {
    opacity: 0.6;
    line-height: 4vh;
    width: 10%;
    text-align: right; }
  header .search {
    opacity: 1;
    line-height: 4vh;
    width: 55%;
    padding-left: 1vh; }
    header .search input {
      opacity: 0.9;
      font-size: 2.8vh;
      height: 4vh;
      line-height: 4vh;
      width: 100%;
      border: none;
      font-family: 'Markazi Text', serif;
      background: transparent; }
    header .search input:focus {
      outline: 0px black; }

div.else {
  grid-row: all / 5;
  grid-column: else / 6;
  width: 100%;
  height: 100%; }

.menu-grid {
  z-index: 100;
  position: fixed;
  top: -80vh;
  left: 0;
  width: 100%;
  height: 80vh;
  background: white;
  transition: top 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: grid;
  grid-template-columns: [padding-start] 110px repeat(5, 20fr) [padding-end] 10vw;
  grid-template-rows: [top] 50fr [bottom] 50fr;
  padding-bottom: 3vh; }
  .menu-grid .parent {
    grid-row: bottom;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 1.5vh;
    padding-right: 1.5vh; }
    .menu-grid .parent .rectangle {
      width: 100%;
      background: antiquewhite;
      height: 10vh;
      border-radius: .5vh; }
  .menu-grid .parent#c0 {
    grid-column: 2; }
  .menu-grid .parent#c1 {
    grid-column: 3; }
  .menu-grid .parent#c2 {
    grid-column: 4; }
  .menu-grid .parent#c3 {
    grid-column: 5; }
  .menu-grid .parent#c4 {
    grid-column: 6; }

.search-grid {
  z-index: 101;
  position: fixed;
  top: -80vh;
  left: 0;
  width: 100%;
  height: 80vh;
  background: white;
  transition: top 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }

.image {
  display: flex; }
  .image .inset {
    width: 100%;
    border-radius: 3px;
    background: url("../../public/img/newyork.jpg");
    background-size: cover;
    box-shadow: 0;
    transition: box-shadow 300ms ease-out; }
